*{
	-moz-box-sizing:border-box; /* Firefox */
	-webkit-box-sizing:border-box; /* Safari */
	box-sizing: border-box;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
html,body,div{
	margin:0;
	padding:0;
}

/*游戏区块*/
.game-container, .start-container{
    position: relative;
	margin:50px auto;
	width:590px;
	height: 600px;
	box-sizing: content-box;
}
.game-container{
	border: 1px solid rgba(0,0,0,0.6);
	display: none;
}
/*开始界面*/
.start-container{
    position: relative;
	width: 390px;
	background: url('../images/bg.jpg');
	background-size: cover;
}
.start-container p{
	position: absolute;
	bottom: 100px;
	left:100px;
}
.start-container p button{
	margin: 0 auto;
	margin-bottom: 40px;
	width: 200px;
	height: 50px;
	display: block;
	border-radius: 60%;
	font-family: "微软雅黑";
	font-weight: bold;
	font-size:18px;
}
.start-container .btn{
	outline: none; 
	border: 0px solid transparent;
	cursor: pointer;
}
.btn:focus,    
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,.btn.active.focus {
    outline: none;          
}
.btn-start{
	color: #fff;
	background-image: -webkit-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -o-linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#78cc78), color-stop(60%, #62c462), to(#53be53));
    background-image: linear-gradient(#78cc78, #62c462 60%, #53be53);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff78cc78', endColorstr='#ff53be53', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-start:hover{
	background-image: -webkit-linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-image: -o-linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2f7d2f), color-stop(40%, #379337), to(#3a9a3a));
    background-image: linear-gradient(#2f7d2f, #379337 40%, #3a9a3a);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2f7d2f', endColorstr='#ff3a9a3a', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-set{
	color: #fff;
	background-image: -webkit-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -o-linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#74cae3), color-stop(60%, #5bc0de), to(#4ab9db));
    background-image: linear-gradient(#74cae3, #5bc0de 60%, #4ab9db);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff74cae3', endColorstr='#ff4ab9db', GradientType=0);
    -webkit-filter: none;
    filter: none;
}
.btn-set:hover{
	background-image: -webkit-linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-image: -o-linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#20829f), color-stop(40%, #2596b8), to(#279dc1));
    background-image: linear-gradient(#20829f, #2596b8 40%, #279dc1);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff20829f', endColorstr='#ff279dc1', GradientType=0);
    -webkit-filter: none;
    filter: none;
}

/* 游戏主界面 */
div.game-main-panel{
    position: absolute;
    left: 100px;
    top: 0;
    width: 390px;
	height: 600px;
	border-left: 1px solid rgba(0,0,0,0.6);
    border-right:  1px solid rgba(0,0,0,0.6);
    box-sizing: content-box;
}
/* left panel */
.timer-panel,.help-panel,.level-panel,.next-panel,.set-panel,.scroe-panel,.high-scroe-panel{
    position: absolute;
    width: 100px;
}
/* right panel */
.timer-panel,.help-panel,.level-panel{
    left: 0;
}
.next-panel,.set-panel,.scroe-panel,.high-scroe-panel{
    right: 0;
}
.timer-panel,.level-panel,.next-panel,.scroe-panel,.high-scroe-panel{
    height: 100px;
}
.help-panel,.set-panel{
    top: 150px;
}
.level-panel,.high-scroe-panel{
    bottom: 0;
}
.scroe-panel{
    bottom: 100px;
}
.timer-panel,.next-panel{
	border-bottom: 1px solid rgba(0,0,0,0.6);
}
.panel-header{
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
    color: #c8c8c8;
    background: #3e444c;
}
.panel-body{
    text-align: center;
    line-height: 70px;
}
.help-panel .panel-body{
    line-height: 50px;
}